<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
              <div class="box bordered">
              <div class="box inner light-gray">
                <div class="row-fluid ">
                            <div id="leftContainer"><div class="span6"></div></div>
                             <div id="rightContainer"></div>
                  </div>  
                   </div>  
                   </div>  
        </div>   
    </div>
</div>
<script type="text/javascript" id="myScriptInicio2">
     /*$('#rightContainer').load("eventos/getCalendar");
     $('#leftContainer').load("mensajes/getLastMessages");  
     
     $('#messagesCounter').load("mensajes/getNotReadMessagesCounter",function(response, status, xhr){
        if (response == 0){
            $('#spanMensajesNuevos').hide();
            $('#elementoMensajes').removeClass('notificacion-mensajes');
            $('#spanMensajesRecibidos').hide();
            $(this).html("");
        }else{
            alertaMensajesNuevos = "";
            if(response == 1) alertaMensajesNuevos = "Tiene 1 nuevo mensaje";
            if(response > 1) alertaMensajesNuevos = "Tiene "+ response + " nuevos mensajes";
            $('#spanMensajesNuevos').show();
            $('#elementoMensajes').addClass('notificacion-mensajes');
            $('#spanMensajesRecibidos').show();
            $('#spanMensajesNuevos').text(response);
            $('#spanMensajesNuevos').attr('title',alertaMensajesNuevos);
            $('#spanMensajesRecibidos').text(response);
        }
    });*/

</script>   
