<script type="text/javascript" id="myScript">
//<![CDATA[
$(document).ready(function() { 
    //debugger
    $("#<?php echo $id_subgrid?>").parent().append('<div id="<?php echo $controlador_subgrid;?>Div"></div>')
    $('#<?php echo $id_subgrid ?>').load('<?php echo $controlador_subgrid.'/'.$accion_subgrid.'/'.$id_relacionado.'/'.$campo_relacionado.'/'.$id_subgrid;?>');  
    });
//]]>
</script>
