<?php
   /*
    * SIDERA : Sistema de Desarrollo Rapido.
    * Copyright (C) 2014 
    * 
    * Organization: 
    *           Junta de Extremadura
    * Autors:
    *		Francisco Gonzalez Lozano
    *		Jesus Arance Calvo
    *		Javier Mateos Caballero				
    *
    * This file is part of SIDERA, licensed under The MIT License
    * For full copyright and license information, please see the app/lib/LICENSE.txt
    

    * @since         SIDERA 2.1
    * @license       http://www.opensource.org/licenses/mit-license.php MIT License
    */
?>	

 <?php
if (sizeof($tablasConexion)>0){
	echo '<option value="0">Seleccione una tabla...</option>';
	foreach($tablasConexion as $tc) {
            //if (!in_array($tc, $tablasSistema)){
		echo '<option value="'.$tc.'">'.$tc.'</option>';
            //}
	}
}
?>

