<?php
   /*
    * SIDERA : Sistema de Desarrollo Rapido.
    * Copyright (C) 2014 
    * 
    * Organization: 
    *           Junta de Extremadura
    * Autors:
    *		Francisco Gonzalez Lozano
    *		Jesus Arance Calvo
    *		Javier Mateos Caballero				
    *
    * This file is part of SIDERA, licensed under The MIT License
    * For full copyright and license information, please see the app/lib/LICENSE.txt
    

    * @since         SIDERA 2.1
    * @license       http://www.opensource.org/licenses/mit-license.php MIT License
    */
?>	
<div>
    <h3 style="color:orange;font-size:1.1em">ATENCION</h3>
    <br/>
    Para acceder a esta aplicación, debe usar el navegador web Mozilla Firefox 4.0 o superior. Puede descargarlo en el siguiente enlace <a target='_blank' href='https://www.mozilla.org/es-ES/firefox/new/'>Mozilla Firefox</a>
    <br/>
</div>
   