/*Body*/
body{
    color: rgba(69, 93, 127, 1);
    font-family: "Roboto",sans-serif;
}
/*Login*/
.login {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    line-height: 30px;
    overflow: auto !important;
    padding-top: 37px;
    position: fixed;
    width: 100%;
    text-align: center;
}
#form-login {
    background: rgba(69, 93, 127, 0.13) -moz-linear-gradient(top , #f9f9f9 0%, rgba(69, 93, 127, 0.03) 100%) repeat scroll 0 0;
    background: rgba(69, 93, 127, 0.13) -ms-linear-gradient(top , #f9f9f9 0%, rgba(69, 93, 127, 0.03) 100%) repeat scroll 0 0;/* IE 10+ */
    background: rgba(69, 93, 127, 0.13) -webkit-linear-gradient(top , #f9f9f9 0%, rgba(69, 93, 127, 0.03) 100%) repeat scroll 0 0;/* FF 3.6+ */
    background: rgba(69, 93, 127, 0.13) -o-linear-gradient(top , #f9f9f9 0%, rgba(69, 93, 127, 0.03) 100%) repeat scroll 0 0;/* Safari 5.1+, Chrome 10+ */
    background: rgba(69, 93, 127, 0.13) linear-gradient(top , #f9f9f9 0%, rgba(69, 93, 127, 0.03) 100%) repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 4px lightslategrey inset, 5px 5px 4px #777;
    margin-top: 60px;
    padding: 0 30px 25px;
}
#login-submit{
    color: rgba(69, 93, 127, 1);
    font-size: 16px;
}
.icono-login{
    text-align: center;
    position: relative;
    margin-top: 20px;
}
#flashMessagesLogin {
    margin-bottom: -14px;
    margin-top: -40px;
}
/*Cabecera App*/
#cabeceraApp {
    border: medium none;
    box-shadow: 0 0 3px lightslategrey inset, 0 0 1px Lightslategray;
    font-size: 1.34em;
    padding-left: 3px;
    //height: 50px;
    padding-right: 20px;
    vertical-align: middle;
}
.tituloApp{
    font-size: 1.4em;
    margin-left: -15px;
    vertical-align: middle;
}
.dropdown-menu {
    border: medium none;
    box-shadow: 0 0 1px inset, 2px 2px 2px #888;
    font-size: 15.5px;
}
#cabeceraApp.navbar-default .navbar-nav > .open > a,
#cabeceraApp.navbar-default .navbar-nav > .open > a:focus,
#cabeceraApp.navbar-default .navbar-nav > .open > a:hover,
#cabeceraApp.navbar-default .navbar-nav > .active > a,
#cabeceraApp.navbar-default .navbar-nav > .active > a:hover,
#cabeceraApp.navbar-default .navbar-nav   a:hover,
#cabeceraApp.navbar-default .navbar-nav > li > a:focus,
#cabeceraApp.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(216, 221, 227, 0.5);
    border-radius: 2px;
    box-shadow: 0 0 1px lightslategray inset;
    margin-top: 0;
}
#cabeceraApp.navbar-default .navbar-toggle:focus,#cabeceraApp.navbar-default .navbar-toggle:hover {
    background-color: rgba(216, 221, 227, 0.5);
}
#menuResponsiveCabeceraApp {
    position: absolute;
    font-size: 0.8em;
    right: -19px;
}
/*Cuerpo App*/
#cuerpoApp {
    overflow: auto !important;
}
#flashMessages {
    border-radius: 2px;
    position: absolute;
    top: 100px;
    width: 100%;
}
#flashMessages > div.alert{
    padding: 4px 7px 4px 8px;
}
/*Barra Accion*/
#barraAccion {
    background-color: rgba(238, 241, 244, 1);
    border-radius: 3px;
    box-shadow: -1px -1px 1px lightslategrey inset;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 25px;
    position: fixed;
    width: 100%;
    font-size: 1.15em;
    z-index: 3;
}
#barraAccion.navbar-default .navbar-nav > li > a:hover {
    background-color: #f8f8f8;
    border-radius: 2px;
    box-shadow: 0 0 1px #444 inset;
    margin-top: 0;
}
#barraAccion.navbar-default .navbar-toggle:focus, #barraAccion.navbar-default .navbar-toggle:hover {
    background-color: #f8f8f8;
}
#menuResponsiveBarraAccion .navbar-toggle {
    float: left;
}
#columnaBusquedaBarraAccion {
    position: absolute;
    right: 0;
    top: 9px;
}


/*Botones*/
button.btn-default,a{
    color: rgba(69, 93, 127, 1) !important;
}
.btn-admin{
    color: darkgoldenrod !important;
    height: 34px;
}
.btn-group > .btn:last-of-type {
    border-radius: 0 4px 4px 0 !important;
}
.btn-group > .btn {
    margin-right: -1px;
}
.btn-default:hover {
    background: rgba(216, 221, 227, 0.35) none repeat scroll 0 0;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background: rgba(216, 221, 227, 1) none repeat scroll 0 0;
    border-color: #adadad;
}
.btn-default.focus, .btn-default:focus {
    background: rgba(216, 221, 227, 1) none repeat scroll 0 0;
    border-color: #adadad;
}
/*Modulo*/
#modulo {
    background: rgba(69, 93, 127, 0.06) none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 -1px 2px lightslategray inset;
    margin-left: 25px;
    margin-right: 25px;
    padding: 7px;
    margin-top: 127px;
}
/*Cabecera Modulo*/
#cabeceraModulo {
    background-color: rgba(69, 93, 127, 0.08);
    border-radius: 3px;
    box-shadow: 0 0 1px lightslategray inset;
    height: auto;
    min-height: 41px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#etiquetaModulo {
    font-size: 1.4em;
    position: relative;
    top: -3px;
    vertical-align: middle;
}
/*Menu Superior*/
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: rgba(216, 221, 227, 0.5) none repeat scroll 0 0;
    border-radius: 2px;
}
.dropdown-menu li > a:active{
    background: rgba(216, 221, 227, 1) none repeat scroll 0 0;
    border-radius: 2px;
}
.dropdown-menu li > a {color: rgba(69, 93, 127, 1);}
.dropdown-submenu {position: relative;}
.dropdown-submenu .dropdown-menu {top: 0;left: 100%;margin-top: -1px;}
/*Cuerpo Modulo*/
#cuerpoModulo {
    margin-bottom: 25px;
    overflow: auto;
}
    
.form-group {
    margin-top: 15px;
}
form .form-group label {
    width: 100%;
}
.form-control.fa-square-o, .form-control.fa-check-square-o {
    padding-left: 12px;
    padding-top: 10px;
    width: 40px;
}
.radio-form i.fa-circle-o{
    padding-top: 10px;
}
.radio-form .input-group-addon {
    width: 45%;
    text-align: left;
}
.input-group-addon {
    color: rgba(69, 93, 127, 1);
}
.panel-default > .panel-heading {
    border-radius: 4px;
    box-shadow: -1px -1px 1px inset;
    color: rgba(69, 93, 127, 1);
    line-height: 10px;
    margin-bottom: 0;
    background: #eee;    
}
select[required]{
    width: 50%;
    display: table !important;
    position: absolute;
    box-shadow: none;
}
.chosen-container-single .chosen-single {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    border: 1px solid #ccc;
}
.chosen-container .chosen-drop {
    border-color: #ccc
} 
.chosen-container .chosen-results {
    color: rgba(69, 93, 127, 1);
}
.chosen-container-single .chosen-single div {
    top: 5px;
}
.form-control, .chosen-container {
    color: rgba(69, 93, 127, 1);
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 300;
    display: inherit;
}
label {
    font-size: 15px;
    font-weight: 500;
}    
/*Pie Modulo*/
#pieModulo {
    background-color: rgba(69, 93, 127, 0.08);
    border-radius: 3px;
    box-shadow: 0 0 1px lightslategray inset;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: 2px;
    margin-top: -14px;
}
#pieModulo .registroPagina {
    margin-right: 7px;
    margin-top: -3px;
}
#pieModulo .registroPagina label {
    background-color: transparent;
    border: medium none;
}
#pieModulo .registroPagina select {
    width: 57px;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 4px;
    height: 26px;
}
/*colores*/
.light-blue{background-color: #d9e3ed }
/*Filtros*/
#filter{height: 91%;left: -305px;margin-top: 67px;opacity: 0.95;position: absolute;width: 500px;z-index: 5;padding:10px;box-shadow: 2px 0 5px #000000;}
nav#primary {z-index: 6;position:fixed;font-size: 1.0em;width:200px;}
.optionFilters{width:auto;}
#filtroSelectores {height: 42px;}
#filtroSelectores div{float: left;padding-right: 1px;}
#filtroCampos .input{width:120px;}
#filtroOperadores .input{width:124px;}
#filtroValor input{width:185px;}
#filtros{height:500px;overflow:auto;}
#addFiltro{height:30px;margin-top: 0;}
/*Busqueda*/
#searchText[readonly] {
    background: rgba(246, 248, 216, 0.7) none repeat scroll 0 0;
}
#searchText {
    right: -1px !important;
}
#searchText[readonly]:focus{
    box-shadow: none;
    border:1px solid #ccc;
}
#botonSearch{
    background-color: #fff;
}
#botonSearch:hover {
    background-color: rgba(216, 221, 227, 0.5);
}
ul#listaCamposSearch {
    margin-top: 0;
    padding-top: 11px;
    padding-bottom: 0;
}
#camposSearch button {
    height: 34px;
}
#camposSearch.open button {
    background-color: rgba(216, 221, 227, 0.5);
}
#listaCamposSearch li {
    margin-bottom: 7px;
    margin-top: -2px;
}
#listaCamposSearch li:not(.divider) {
    padding-left: 13px;
}
#listaCamposSearch li.divider {
    border: 1px solid #ccc;
}
#listaCamposSearch li:hover {
    background: rgba(216, 221, 227, 0.5) none repeat scroll 0 0;
    border-radius: 2px;
}
#listaCamposSearch i {
    font-size: 16px;
    vertical-align: middle;
}
#listaCamposSearch label {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}

/*Paginacion*/
#columnaPaginacion {
    display: inline-block;
}
.pagination {
    margin: -3px -13px;
}
.compact-theme a, .compact-theme span{
    box-shadow: none;
    background: #fff none repeat scroll 0 0;
    color: rgba(69, 93, 127, 1);
    border-color: #bbb;
}
.compact-theme .current {
    background: rgba(216, 221, 227, 0.35) none repeat scroll 0 0;
}
.compact-theme a:hover {
    background: rgba(216, 221, 227, 0.35) none repeat scroll 0 0;
}
.compact-theme .ellipse {
    background: rgba(216, 221, 227, 0.35) none repeat scroll 0 0;
}
/*Index Table*/
.table.dataTable tbody tr.row-selected td {
    background-color: rgba(246,248,216,0.7);
}
.table.dataTable tbody tr:hover td,.table.dataTable tbody tr:hover th {
    background: rgba(216, 221, 227, 1.00);
    //color: #FFFFFF !important;
}
th > a{
    font-weight: 500;
    font-size: 15px;
}
th.check{
    width: 3%;
}
td.checkCell i.itemSelector {
    position: relative;
    top: 2px;
}
th.check i {
    position: relative;
    top: -4px;
}
tbody.griddata {
    border-radius: 4px;
    box-shadow: 0 0 2px lightslategray inset;
}
tbody i.fa.fa-check-square-o, i.fa.fa-square-o {
    font-size: 18px;
}
/*constructores*/
.well.well-constructor {
  height: 120px;
  overflow: auto;
}
.label-right {
    font-weight: inherit;
    margin-bottom: 4px;
    margin-top: -4px;
}
/*modal*/
.modal-dialog {
    margin: 202px auto;
    width: 600px;
}
.modal-header {
    background-color: rgba(216, 221, 227, 0.41);
    border-radius: 4px 4px 0 0;
    box-shadow: 0px -1px 1px lightslategrey inset;
    padding: 14px;
}
.modal-title {
    font-size: 20px;
}
.modal-body {
    font-size: 17px;
    padding: 40px;
    position: relative;
}
.modal-footer {
    background-color: rgba(216, 221, 227, 0.41);
    border-radius: 0 0 4px 4px;
    border-top: 0px solid rgba(216, 221, 227, 1);
    box-shadow: 0 0 3px lightslategrey inset;
    padding: 10px;
}
/*Legend, Alert*/
legend {
    border-radius: 4px;
    font-size: 18px;
    margin-top: 20px;
    padding: 1px 7px;
}
.alert-info {
    background: rgba(216, 221, 227, 0.41) none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 1px inset;
    color: rgba(69, 93, 127, 1);
    height: 52px;
    padding-top: 10px;
}
.alert-danger {
    background: rgba(242, 222, 222, 0.46);
    border: medium none;
    box-shadow: 0 0 1px inset;
    color: #a94442;
}
.alert-warning {
    background: rgba(246,248,216,0.7);
    border: medium none;
    box-shadow: 0 0 1px inset;
}
.alert-success {
    background: rgba(223, 240, 216, 0.46) ;
    border: medium none;
    box-shadow: 0 0 1px inset;
}
#flashMessagesLogin button.close{
    padding-top: 5px;
}
/*configuracion App*/
#panel{
    margin-top: 25px;
}

/*Validacion HTML%*/
input:invalid, input:invalid ~ i {
    border: 1px solid #a94442;
}
input:invalid ~ .input-group-addon {
    background-color: #f2dede;
    border-color: #a94442;
    color: #a94442;
}
input:invalid:focus {
    border: 1px solid #a94442;
    box-shadow: 0 0 5px rgba(150, 40, 1, 0.7);
}
div.form-group.required > label::before {
    color: darkred;
    content: "* ";
}
.mensaje-error {
    display: table-footer-group;
}
