<div class="span6" id="logErrorMessages">
    <div class="padded">
        <div class="section-title">Logs</div>
        <div class="chart-container logErrorMessages"><?php echo $logErrorMessages;?></div>
    </div>